
/*---RESET---*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----GENERAL----*/

.container{
    max-width: 53.125rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    background-color: #b91547;
}
form{
    background-color: white;
}

/*----MAIN----*/

.info{
    display: flex;
    justify-content: center;
    gap: 1.875rem;
}
.hidden{
    display: none;
}
#card > .container{
    background-color: white;
}